html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  background-color: #eee9de;
  max-width: 25em;
  text-align: left;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 1rem;
  display: block;
}

img {
  padding-top: 2em;
  display: block;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

section {
  display: inline-block;
}

h2 {
  font-weight: bold;
  text-align: left;
  margin-top: 1em;
  margin-bottom: 1em;
}

div {
  display: block;
  text-align: left;
}

.btn {
  color: #333;
  display: inline-block;
  padding: .4em .75em .5em;
  border-radius: 8px;
  border: 3px solid #333;
  text-decoration: none;
  margin-top: 1em;
}

a:hover {
  color: #eee9de;
  background-color: #666;
}
